body {
  margin: 0;
  font-family: sans-serif;
  background: pink;
  text-align: center;
}

.page {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page.active {
  display: flex;
}

button {
  padding: 12px 20px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background: #ff5ca8;
  color: white;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
